name: Watch Folder Update Memo
# If add json in watch-folder/update-memo/, update it as memo
on:
  push:
    paths:
      - 'watch-folder/update-memo/*.json'

jobs:
  update-memo:
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14
      # Update Memo
      - name: Update Memo
        run: cd actions/update-memo && yarn install && yarn ts-node-transpile-only watch-folder-index.ts
        env:
          UPDATE_MARKDOWN: true
      - name: Commit Memo
        uses: EndBug/add-and-commit@v6
        with:
          message: "Update Memo"
          add: 'tags.json data/ watch-folder/update-memo/' # change watch-folder/update-memo
          push: true
      # Create draft and create pull request
      - name: Create Draft Post
        run: yarn install && yarn ts-node-transpile-only index.ts
        env:
          PAYLOAD: ${{ toJSON(github.event.client_payload) }}
          PRIVATE: ${{ github.event.repository.private }}
        working-directory: actions/create-draft-post
      - name: Create Draft Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Draft Post
          branch: draft
          delete-branch: true
          title: "Draft Post"
          body: |
            - [ ] Write Headline
          labels: |
            Type:Post
      - name: Check Draft Post PR
        run: |
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
